
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

<ul>
    @foreach (var customer in @Model)
    {
        <li><a href="Customers/getCustomer/@customer.Id">@customer.Name</a></li>
    }
</ul>

